*{
	margin: 0;
	padding: 0;
	box-sizing: boder-box;
	font-family: sans-serif;
	align-items:center;
}
p{
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	min-height:25vh;
}
.drag-area {
	border: 2px dashed gray;
	height:300px;
	width: 500px;
	border-radius: 1px;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction:column;
}
.drag-area .active{
	border:2px solid blue;
}
.drag-area header{
	font-size: 25px;
	font-weight: 500;
	color: black;
}
.drag-area span{
	font-size: 20px;
	font-weight: 500;
	color: black;
	margin: 10px 0 15px 0;
}
.drag-area button{
	padding: 10px 25px;
	font-size: 20px;
	font-weight: 500;
	background: green;
	border: none;
	outline: none;
	color:#fff;
	border-radius: 1px;
	cursor: pointer;
}
.drag-area img{
	height: 100%;
	width:100%;
	object-fit:cover;
	border-radius:5px;
}
label {
  background-color: green;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}